footer {
  position: absolute;
  top: 790dvh;
  height: 100dvh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 60px 0px 60px;
  overflow: hidden;
}
@media (max-width: 776px) {
  footer {
    flex-direction: column;
    padding: 60px 60px 0px 60px;
  }
}
@media (max-width: 600px) {
  footer {
    top: 830dvh;
  }
}
footer .footerL {
  align-self: self-end;
  width: 33%;
  height: 40dvh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: self-start;
  padding-bottom: 20px;
}
@media (max-width: 776px) {
  footer .footerL {
    padding-bottom: 0px;
    justify-content: center;
    align-self: self-start;
    width: 100%;
    height: 20dvh;
  }
}
footer .footerL .footerNameC {
  color: rgb(29, 29, 29);
  font-family: "Noto Serif TC";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 8.16px;
}
@media (max-width: 860px) {
  footer .footerL .footerNameC {
    font-size: 16px;
  }
}
@media (max-width: 776px) {
  footer .footerL .footerNameC {
    font-size: 20px;
  }
}
footer .footerL .footerNameE {
  margin: 0;
  padding: 0;
  color: rgb(29, 29, 29);
  font-family: "Noto Serif TC";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 180%; /* 36px */
  letter-spacing: 5px;
}
@media (max-width: 860px) {
  footer .footerL .footerNameE {
    font-size: 12px;
  }
}
@media (max-width: 776px) {
  footer .footerL .footerNameE {
    font-size: 12px;
  }
}
footer .footerC {
  position: relative;
  width: 300px;
  height: 25dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
@media (max-width: 776px) {
  footer .footerC {
    width: 200px;
    left: 15px;
    align-items: center;
    height: 25dvh;
  }
}
footer .footerC .footerEmailBox {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 776px) {
  footer .footerC .footerEmailBox {
    justify-content: center;
  }
}
footer .footerC .footerEmailBox .emailTitle {
  width: 40%;
  color: rgb(29, 29, 29) #000;
  font-family: "Noto Serif TC";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
  letter-spacing: 1px;
}
footer .footerC .footerEmailBox .email {
  width: 60%;
  align-self: self-start;
  color: rgb(29, 29, 29) #000;
  font-family: "Noto Sans TC";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1px;
}
@media (max-width: 776px) {
  footer .footerC .footerEmailBox .email {
    align-self: none;
  }
}
footer .footerC .footerFBBox {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
footer .footerC .footerFBBox .FBTitle {
  width: 40%;
  color: rgb(29, 29, 29) #000;
  font-family: "Noto Serif TC";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
  letter-spacing: 1px;
}
footer .footerC .footerFBBox .FB {
  width: 60%;
  align-self: self-start;
  color: rgb(29, 29, 29) #000;
  font-family: "Noto Sans TC";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1px;
}
footer .footerC .footerLineBox {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
footer .footerC .footerLineBox .LineTitle {
  width: 40%;
  color: rgb(29, 29, 29) #000;
  font-family: "Noto Serif TC";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
  letter-spacing: 1px;
}
footer .footerC .footerLineBox .Line {
  width: 60%;
  align-self: self-start;
  color: rgb(29, 29, 29) #000;
  font-family: "Noto Sans TC";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1px;
}
footer .footerC .footerIGBox {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
footer .footerC .footerIGBox .IGTitle {
  width: 40%;
  color: rgb(29, 29, 29) #000;
  font-family: "Noto Serif TC";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
  letter-spacing: 1px;
}
footer .footerC .footerIGBox .IG {
  width: 60%;
  align-self: self-start;
  color: rgb(29, 29, 29) #000;
  font-family: "Noto Sans TC";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1px;
}
footer .footerC .footerTelBox {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
footer .footerC .footerTelBox .TelTitle {
  width: 40%;
  color: rgb(29, 29, 29) #000;
  font-family: "Noto Serif TC";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
  letter-spacing: 1px;
}
footer .footerC .footerTelBox .Tel {
  width: 60%;
  align-self: self-start;
  color: rgb(29, 29, 29) #000;
  font-family: "Noto Sans TC";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1px;
}
footer .footerR {
  position: relative;
  top: 20px;
  width: 33%;
  height: 40dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 776px) {
  footer .footerR {
    height: 35dvh;
  }
}
footer .footerR .footerQRcode {
  width: 200px;
  height: 200px;
  overflow: hidden;
}
@media (max-width: 860px) {
  footer .footerR .footerQRcode {
    width: 150px;
    height: 150px;
  }
}
@media (max-width: 776px) {
  footer .footerR .footerQRcode {
    width: 120px;
    height: 120px;
  }
}
footer .footerR .footerQRcode img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  mix-blend-mode: darken;
}
footer .footerR .footerQrCodeText {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(29, 29, 29) #000;
  font-family: "Noto Sans TC";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 32px */
  letter-spacing: 6px;
}
@media (max-width: 776px) {
  footer .footerR .footerQrCodeText {
    font-size: 12px;
  }
}/*# sourceMappingURL=indexFooter.css.map */